<div class="container">
    <form #frm="ngForm">

        <div class="form-group">
            <label for="firstName">Ism : </label>
            <input ngModel required minlength="2" maxlength="10" name="firstName" #firstName="ngModel" id="firstName"
                (change)="onNameChange(firstName)" type="text" class="form-control">

            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.['required']">
                    <p>Ismni kiritish majburiy</p>
                </div>
                <div *ngIf="firstName.errors?.['minlength']">
                    <p>Ismni kamida {{firstName.errors?.['minlength'].requiredLength}} ta belgi kiritish majburiy</p>
                </div>
                <div *ngIf="firstName.errors?.['maxlength']">
                    <p>Ismni ko'pida {{firstName.errors?.['maxlength'].requiredLength}} ta belgi kiritish majburiy</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email manzil : </label>
            <input ngModel name="email" id="email" type="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="message">Xabar : </label>
            <textarea ngModel name="message" id="message" class="form-control"></textarea>
        </div>

        <div class="checkbox">
            <label for="">
                <input ngModel type="checkbox" name="isSubscribed" id=""> Yangiliklarga a'zo bo'ling
            </label>
        </div>

        <!-- radio larni hard code dan qutqarish bizga buyerda contactMethods degan class kerak bo'ladi ekan 
            adashmasam uni valuesi va type bo'lishi shart -->
        <div *ngFor="let cmethod of contactMethods" class="radio">
            <label>
                <input ngModel type="radio" name="contactMetgod" [value]="cmethod.type" > 
                {{ cmethod.name }}
            </label>
        </div>
<!-- 
        <div class="radio">
            <label for="">
                <input ngModel type="radio" name="contactMetgod" value="2" > SMS
            </label>
        </div> -->

        <button class="btn btn-primary">
            Submit
        </button>

        <p>
            {{frm.value | json}}
        </p>

    </form>
</div>