<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">My Site</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li  routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}" >
            <a class="nav-link active" aria-current="page" routerLink="/darslar">Darslar</a>
          </li>
          <li  routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/darslar">Darslar 1</a>
          </li>
          <li  routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}">
            <!-- query bervoryabmiz -->
            <a class="nav-link" [routerLink]="['/darslar', 2 , 'Web API']" [queryParams]="{page: 1, order: 'desc'}" >Web API</a>
          </li>
          <li  routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/boglanish" >Bo'lanish</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>